odoo-addon-analytic_tag_dimension @ git+https://github.com/OCA/account-analytic.git@refs/pull/761/head#subdirectory=analytic_tag_dimension
odoo-addon-analytic_tag_dimension_enhanced @ git+https://github.com/OCA/account-analytic.git@refs/pull/762/head#subdirectory=analytic_tag_dimension_enhanced
